.overlay-content {
  background-color: #315b66;
  margin: auto;
  padding: 1em;
  border: 0.3em solid #888;
  border-radius: 1.5em;
  min-width: 30%;
}

.overlay-close {
  color: #aaaaaa;
  float: right;
  font-size: 1.8em;
  font-weight: bold;
}

.overlay-close:hover,
.overlay-close:focus {
  color: #fc0303;
  text-decoration: none;
  cursor: pointer;
}

.overlay_title {
  color: #fff;
  font-size: 2em;
  font-family: cursive, Arial, Helvetica, sans-serif;
  margin-bottom: 0.5em;
}
