.header-div-main {
  display: flex;
  border: 0.1em solid #abd6d8;
  border-radius: 0.3em;
  position: relative;
  top: 1em;
  padding: 0.2em;
  background-color: #275561;
}

.header-div-home {
  flex: 5;
  text-align: left;
}

.header-login-main {
  display: flex;
  flex: 2;
  justify-content: right;
}

.btn {
  width: 5em;
  border: 0.1em solid;
  border-radius: 0.5em;
  font-weight: 700;
  font-size: 1.3em;
  font-family: cursive;
  color: floralwhite;
  background: transparent;
}

.btn:hover,
.btn:focus {
  color: #275561;
  background-color: #fff;
  border: 0.1em solid #abd6d8;
  text-decoration: none;
  cursor: pointer;
}

.btn-login {
  margin-right: 0.2em;
}